# vim: set ft=bash :

function add_to_path {
  if [[ -d "$1" && ":$PATH:" != *":$1:"* ]]; then
    PATH="$1:$PATH"
    export PATH
  fi
}

# Path Modification
{{- if eq .chezmoi.os "darwin" }}
add_to_path "/opt/homebrew/bin"       # Apple Silicon
add_to_path "/opt/homebrew/sbin"
add_to_path "/usr/local/bin"          # Intel Mac
add_to_path "/usr/local/sbin"
add_to_path "$HOME/Library/Application Support/JetBrains/Toolbox/scripts"
{{- end }}
# Rust
[[ -f "$HOME/.cargo/env" ]] && source "$HOME/.cargo/env"

# Environment variable exports
export EDITOR="$(which vim)"
export XDG_CONFIG_HOME="$HOME/.config"

## Homebrew
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_EMOJI=1

{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

{{ if eq .chezmoi.hostname "m3max" -}}
# for orbstack only
source ~/.orbstack/shell/init.zsh 2>/dev/null || :

# borgmatic passphrase from Keychain
export BORG_PASSCOMMAND="security find-generic-password -a borgmatic -s borg-repo -w"
{{ end -}}