# vim: set ft=bash :
eval "$(starship init zsh)"     # Activate starship
eval "$(fzf --zsh)"             # Activate fzf
eval "$(direnv hook zsh)"       # Activate direnv
eval "$(brew shellenv --zsh)"   # Activate homebrew

# Helpers
include () { [[ -f "$1" ]] && source "$1" }
log_info () { echo "\t\e[36m*\e[0m $1"}

# History
setopt CORRECT                      # Attempt to correct a command when you enter it incorrectly
HISTSIZE=5000                       # How many lines of history to keep in memory
HISTFILE=~/.config/zsh_history      # Where to save history to disk
SAVEHIST=5000                       # Number of history entries to save to disk
setopt APPEND_HISTORY               # Append history to the history file (no overwriting)
setopt SHARE_HISTORY                # Share history across terminals
setopt INC_APPEND_HISTORY           # Immediately append to the history file, not just when a term is killed
setopt EXTENDED_HISTORY             # Include more information in history. (command execution time, command elapsed time, command itself)
setopt HIST_IGNORE_DUPS             # Do not write events to history that are duplicates of previous events
setopt HIST_REDUCE_BLANKS           # Remove extra blanks from each command line being added to history
setopt HIST_FIND_NO_DUPS            # When searching history don't display results already cycled through twice

# aliases
## command aliases
alias ls="eza"
alias ll="eza -l"
alias la="eza -laa"
alias lsh="eza -ld .?*"
alias tree="eza --tree"
alias vim="nvim"
alias k="kubectl"

## docker aliases
{{ if lookPath "docker-compose" -}}
    alias dc="docker-compose"
{{- else -}}
    alias dc="docker compose"
{{- end }}
alias dcul='f(){ dc up -d "$1"; dc logs -f "$1"; unset -f f; }; f'
alias dcr='f(){ dc restart "$1"; dc logs -f "$1"; unset -f f; }; f'
alias dcremake='f(){ dc stop "$1"; dc rm -f "$1"; dc up -d "$1"; dc logs -f "$1"; unset -f f; }; f'
alias dcdown='f(){ dc stop "$1"; dc rm -f "$1"; unset -f f; }; f'
alias dcl='f(){ dc logs -f --tail 30 "$1"; unset -f f; }; f'

## johnny decimal filesystem
{{ if eq .chezmoi.hostname "nas" }}alias cdf='f(){ pushd /srv/storage/*/*/${1}*; unset -f f; }; f'
{{- else }}alias cdf='f(){ pushd /mnt/nas/*/*/${1}*; unset -f f; }; f'
{{- end }}

## cd aliases
alias ..="cd .."
alias ...="cd ../.."

{{- if eq .chezmoi.os "darwin" }}
## os-specific aliases
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
{{- end }}

{{ if eq .chezmoi.os "linux" -}}
# keychain for linux and wsl
{{ if lookPath "keychain" }}
  /usr/bin/keychain --nogui -q --dir $HOME/.config/keychain
{{ else }}
  log_info "keychain not installed"
{{ end }}
include $HOME/.config/keychain/{{ .chezmoi.hostname }}-sh

include /home/linuxbrew/.linuxbrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
# zsh-compltions
{{- end }}

# functions
bw-open() {
  if ! bw login --check > /dev/null
  then
      BW_SESSION="$(bw login --raw "$1" "$BW_PASSWORD")"
      export BW_SESSION
  fi

  if ! bw unlock --check > /dev/null
  then
      BW_SESSION="$(bw unlock --raw "$BW_PASSWORD")"
  fi
  export BW_SESSION
}

snapraid_cmd=$(which snapraid)
snapraid() {
  if [[ $1 == "smart" ]]; then
      command sudo "$snapraid_cmd" smart
  else
      command snapraid "$@"
  fi
}
