Host *
	AddKeysToAgent yes
	{{- if eq .chezmoi.os "darwin" }}
	UseKeychain yes{{- end }}

Host github.com
	User git
	HostName github.com
	IdentityFile ~/.ssh/github

Host nas
	HostName fileserver

{{- if .personal }}
Host kevin
	User james
	HostName {{ (bitwardenFields "item" "9c931028-7d6e-4f8c-ad92-c75fab672155").ip.value }}
	IdentityFile ~/.ssh/kevin
{{- end }}