{{ if eq .chezmoi.hostname "m3max" -}}
Include ~/.orbstack/ssh/config
{{- end }}

Host *
	AddKeysToAgent yes
	{{- if eq .chezmoi.os "darwin" }}
	UseKeychain yes{{- end }}

Host github.com
	User git
	HostName github.com
	IdentityFile ~/.ssh/github

Host nas
	HostName fileserver

Host coco1
    HostName cocosci-1.mit.edu
    User jameskr
    PubKeyAuthentication yes
    IdentityFile ~/.ssh/mit

Host coco2
    Hostname cocosci-2.mit.edu
    User jameskr
    PubKeyAuthentication yes
    IdentityFile ~/.ssh/mit

{{- if .personal }}
Host kevin
	User james
	HostName {{ (bitwardenFields "item" "9c931028-7d6e-4f8c-ad92-c75fab672155").ip.value }}
	IdentityFile ~/.ssh/kevin
{{- end }}
