<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.borgmatic.backup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/borgmatic</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>BORG_PASSCOMMAND</key>
        <string>security find-generic-password -a borgmatic -s borg-repo -w</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/borgmatic.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/borgmatic.err</string>
</dict>
</plist>
